html(lang="es")
  head
    title Crear Producto
    body
        form(action='/admin/products', method='POST')
            label(for='product_name') Nombre del Producto:
            input(type='text', name='product_name', id='product_name', required)
            
            label(for='product_price') Precio:
            input(type='number', name='product_price', id='product_price', required)
            
            input(type="hidden", name="token", value=token)
            button(type='submit') Crear Producto
