doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Panel de Administración
  body
    h1 Panel de Administración
    a(href=`/admin/products?token=${token}`) Gestionar Productos
    a(href=`/admin/orders?token=${token}`) Gestionar Pedidos
