doctype html
html(lang="es")
  head
    title Productos
    script(src="/product.js") 
  body
    div#loading-message(style="display: none;") Cargando... 
    h1 Productos Disponibles  
    ul#products-list 



