<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Lista de Productos</title>
    <link rel="stylesheet" href="/static/index.css">
</head>
<body>
    <h2>Productos Disponibles</h2>
    <div class="product-container">
        {{range .products}}
        <div class="product-item">
            <h3>{{.ProductName}}</h3>
            <p>Precio: ${{.ProductPrice}}</p>
            
            <!-- Botón para redirigir al formulario de pedido -->
            <form method="GET" action="/order/create">
                <input type="hidden" name="product_name" value="{{.ProductName}}">
                <button type="submit">Pedir</button>
            </form>
        </div>
        {{end}}
    </div>
</body>
</html>


